body{
    display: flex;
    background-image: url(fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    justify-content: center;
}
fieldset{
    text-align: center;
    vertical-align: middle;
    position: absolute;
    top: 15%;
    height: 700px;
    background-color: rgb(235, 208, 208, .6);
    font-family: Calibri;
    font-weight: 1000;
    border: none;
    border-radius: 12px;
}
input{
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding-left: 7px;
    width: 500px;
    height: 50px;
    background-color: rgb(255, 255, 255, .3);
    border-radius: 10px;
    border: none;
}
h3{
    letter-spacing: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100px;
    color: rgb(0, 0, 0);
    margin: 0.4em;
    margin-top: 0.8em;
    text-align: center;
}
#boton{
    position: relative;
    background-color: #1c819f;
    color: white;
    margin-top: 40px;
    width: 520px;
    height: 80px;
    border-radius: 10px;
    letter-spacing: 4px;
    border: 0.16em solid #1c819f;
}
#boton:hover{
    background-color: #1f90b3;
    color: white;
    margin-top: 40px;
    border-radius: 8px;
    letter-spacing: 4px;
    border: 0.20em solid #1f90b3;
}
@media (max-width: 800px) {
    fieldset{
        text-align: center;
        vertical-align: middle;
        position: absolute;
        top: 20%;
        height: 350px;
        background-color: rgb(235, 208, 208, .6);
        font-family: Calibri;
        font-weight: 1000;
        border: none;
        border-radius: 6px;
    }
    input{
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
        padding-left: 3.5px;
        width: 200px;
        height: 25px;
        background-color: rgb(255, 255, 255, .3);
        border-radius: 5px;
        border: none;
    }
    h3{
        letter-spacing: 2px;
        font-family: 'Courier New', Courier, monospace;
        font-size: 50px;
        color: rgb(0, 0, 0);
        margin: 0.2em;
        margin-top: 0.4em;
        text-align: center;
    }
    #boton{
        position: relative;
        background-color: #1c819f;
        color: white;
        margin-top: 20px;
        width: 240px;
        height: 40px;
        border-radius: 5px;
        letter-spacing: 2px;
        border: 0.16em solid #1c819f;
    }
    #boton:hover{
        background-color: #1f90b3;
        color: white;
        margin-top: 20px;
        border-radius: 4px;
        letter-spacing: 2px;
        border: 0.10em solid #1f90b3;
}