body{
    display: flex;
    background-image: url(fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    justify-content: center;
}
#eselamor{
    position: relative;
}
#enlacolano{
    position: relative;
    color: transparent;
}
@media (max-width: 800px) {
    #eselamor{
        position: relative
        width: 400px;
    }
    #enlacolano{
        position: relative;
        width: 200px;
    }   

}