body{
    display: flex;
    background-image: url(fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    justify-content: center;
}
#eselamor{
    position: absolute;
    top: 0%;
    width: 720px;
}
#enlacolano{
    position: absolute;
    top: 540px;
    width: 720px;
}
@media (max-width: 800px) {
    #eselamor{
        position: absolute;
        top: 0%;
        width: 360px;
    }
    #enlacolano{
        position: absolute;
        top: 270px;
        width: 360px;
    }   

}