body{
    display: flex;
    background-image: url(fondo.jpg);
    background-repeat: repeat;
    background-size: auto;
    background-clip: border-box;
    justify-content: center;
}
#eselamor{
    position: absolute;
    top: 0%;
    width: 800px;
}
#enlacolano{
    position: absolute;
    top: 40%;
    width: 800px;
}
@media (max-width: 800px) {
    #eselamor{
        position: absolute;
        top: 0%;
        width: 400px;
    }
    #enlacolano{
        position: absolute;
        top: 35.5%;
        width: 400px;
    }   

}